<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Time Tickle</title>
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/samsung/265/hourglass-done_231b.png">
</head>
<body style="background-color:black;" text="#ffffff">
    <div id="app">
<div class="currency-container">
<div class="hourglass-currency">
You have {{ format(player.time) }}⌛
</div>
<div class="clock-currency">

</div>
<div class="chronometer-currency">

</div>
</div>
<div class="producers-container">
<div class="generators-container">
<div class="generator hourglass-generator" v-for="(hourglass, index) in player.hourglass">
    <h4>{{ hourglass.name }}</h4>
<span class="generator-amount">{{ format(hourglass.amount) }}</span>
<span class="generator-multiplayer">x{{ format(hourglass.multi) }}</span>
<span class="generator-cost">Cost: {{ format(hourglass.cost) }}</span>
<button @click="buyHourglassGenerator(index)">Buy 1</button>
<button @click="buynextGenerator(index)">Next generator 100</button>
</div>
</div>
<div class="generators-container">
    <div class="generator clock-generator" v-for="(clock, index) in player.clock">
        <h4>{{ clock.name }}</h4>
    <span class="generator-amount">{{ format(clock.amount) }}</span>
    <span class="generator-multiplayer">x{{ format(clock.multi) }}</span>
    <span class="generator-cost">Cost: {{ format(clock.cost) }}</span>
    <button @click="buyClockGenerator(index)">Buy 1</button>
    </div>
</div>
<div class="generators-container">
    <div class="generator chronometer-generator" v-for="(chronometer, index) in player.chronometer">
        <h4>{{ chronometer.name }}</h4>
    <span class="generator-amount">{{ format(chronometer.amount) }}</span>
    <span class="generator-multiplayer">x{{ format(chronometer.multi) }}</span>
    <span class="generator-cost">Cost: {{ format(chronometer.cost) }}</span>
    <button @click="buyChronometerGenerator(index)">Buy 1</button>
    </div>
</div>
</div>
    </div>
</body>
<script src="js/vue.js"></script>
<script src="js/player.js"></script>
<script src="js/format.js"></script>
<script src="js/loop.js"></script>
<script src="js/format.js"></script>
<script src="js/index.js"></script>
</html>