@font-face{
    font-family: "Iosevka";
    src: url("/src/fonts/IosevkaTermNerdFontMono-Regular.ttf");
}
@keyframes blink{
    0% {color: black;}
    50% {color: white;}
    100% {color: black;}
}
*{
    color: white;
    background-color: black;
    font-family: "Iosevka";
}
body{
    margin: 5rem 5rem 5rem 5rem;
}
@media screen and (max-width: 540px) {
    body{
        margin: 1rem 1rem 1rem 1rem;
    }
}
h2, h4{
    padding-top: 2rem;
}
figure{
    margin: 0;
}
embed{
    width: 45rem;
    filter: invert(100%) sepia(0%) saturate(200%) hue-rotate(195deg) brightness(100%) contrast(100%);
}
button{
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    top: 0.5rem;
}
ul{
    list-style: none;
    padding: 0;
}
li:before{
    content: "*";
    margin-right: 1ch;
}
footer{
    padding-top: 0.5rem;
}
img, embed{
    max-width: 100%;
    height: auto;
}
.logo{
    font-size: 32px;
    vertical-align: sub;
}
.pilcrow{
    color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
h2:hover > .pilcrow{
    color: gray;
}
h3:hover > .pilcrow{
    color: grey;
}
.hidden{
    display: none;
}
#not-found{
    font-size: x-large;
    text-align: center;
}
#four-o-four{
    letter-spacing: 3.5rem;
    padding-left: 3.2rem;
    margin-bottom: -2.5rem;
    font-size: xx-large;
}
#shrugger{
    font-size: xx-large;
}
#go-home{
    text-decoration: none;
}
#title{
    padding-left: 1ch;
}
#ipa{
    margin-top: -1rem;
    color: grey;
    cursor: help;
}
#cursor{
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
    padding-left: 0.5rem;
}
#modrinth{
    margin-top: 12.5px;
    margin-bottom: 5px;
}