body{
    z-index: 1;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Courier New";
    margin: auto;
    font-size: 30px;
}
br.next_section{
    line-height: 100px;
}
.section{
    z-index: 1;
}
.mods-section{
    background-size: cover;
}
.games-section{
    background-size: cover;
}
.projects-section{
    background-size: cover;
}
.de-description{
    color: gray;
}
.clickable{
    color: gold;
}
.clickable:hover{
    color: blue;
    cursor: pointer;
}
#bg{
    position: fixed;
    margin:auto;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.main{
    position: fixed;
    margin: auto;
    background-color: #111111;
    padding: 10px;
}
.marquee{
    z-index: 2;
    line-height: 35px;
    font-size: 30px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee div{
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}
.marquee div span{
    padding-left: 15px;
}
@keyframes marquee{
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(-100%, 0);
    }
}