@font-face{
    font-family: "Iosevka";
    src: url("/src/fonts/IosevkaTermNerdFontMono-Regular.ttf");
}
@keyframes blink{
    0% {color: black;}
    50% {color: white;}
    100% {color: black;}
}
*{
    color: white;
    background-color: black;
    font-family: "Iosevka";
}
a{
    color: white;
}
pre{
    margin-top: -0.1ch;
    margin-bottom: -0.1ch;
    line-height: 1;
}
.green{
    color: greenyellow;
}
.blue{
    color: blue;
}
.margin{
    margin-left: 1.285ch;
}
.textarea{
    display: inline-block;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.modrinth{
    padding-bottom: 0.1rem;
}
.input-container{
    display: flex;
    align-items: baseline;
    width: 100%;
}
#cursor{
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: steps(1, end);
    position: absolute;
    background-color: rgba(0,0,0,0);
    left: 18.2ch;
}
#cmd{
    outline: none;
    /* caret-color: transparent !important; */
    border: none;
    font-size: medium;
    margin-top: -1ch;
    margin-left: 1ch;
    flex: 1;
    min-width: 0;
}
#char{
    width: 1ch;
    color: black;
}