body{
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Courier New";
}
.main{
    position: relative;
    height: 59rem;
    z-index: 0;
}
.links a{
    margin-top: 0;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.links img{
    width: 25px;
    vertical-align: text-bottom;
}
.mail{
    color: gray;
    text-decoration: none;
}
.mail:hover{
    color: white;
}