body {
  background-color: #202020;
  color: #ffffff;
  font-family: "Courier New";
  margin: auto;
  text-align: center;
  font-size: 15px;
}
.aboutme{
  cursor: pointer; 
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.main {
  margin: auto;
  width: 60%;
  border: 5px solid #111111;
  background-color: #111111;
  border-radius: 40px;
  padding: 10px;
}
.things {
  margin: auto;
  width: 60%;
  border: 5px solid #111111;
  background-color: #1111115d;
  border-radius: 40px;
  padding: 10px;
}
.marquee {
  width: 950px;
  line-height: 35px;
  font-size: 30px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.marquee div {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 20s linear infinite;
}
.marquee div span {
  padding-left: 15px;
}
@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.links {
  border: none;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  border: 10px solid #111111;
  border-radius: 40px;
}
.software {
  border: none;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  background-color: #1d1d1d;
  border: 5px solid #000000;
  border-radius: 40px;
}
.button {
  border: none;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid #000000;
}
.bots {
  border: none;
  color: white;
  padding: 15px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  background-color: #1d1d1d;
  border: 5px solid #000000;
  border-radius: 40px;
}
.button1:hover {
  background-color: #696969;
  color: rgb(255, 255, 255);
}
.button1 {
  background-color: #000000;
}