
*{
    box-sizing: border-box;
}

#app{
    width: 950px;
    margin: auto;
}

.name-box, .text-box{
    display: flex;
    justify-content: space-between;
}

.genre, .mechanic, .style, .goal{
    width: 300px;
    border: 1px solid white;
    text-align: center;
    padding: 40px;
}

.randomizer-box{
    border: 1px solid white;
    width: 300px;
    height: 120px;
    text-align: center;
}